<!DOCTYPE html>
<html>
<head>
    <title>EC2Ninja Flask App</title>
</head>
<body>
    <h1>Welcome to the EC2Ninja Flask App!</h1>
    <p>Use the following routes to interact with your EC2 instance:</p>
    <ul>
        <li><a href="/start_instance/i-06ccd41675422afc3">Start an EC2 instance</a></li>
        <li><a href="/stop_instance/i-06ccd41675422afc3">Stop an EC2 instance</a></li>
        <li><a href="/instance_info/i-06ccd41675422afc3">Get information about an EC2 instance</a></li>
    </ul>
</body>
</html>