<!DOCTYPE html>
<html>
<head>
    <title>EC2Ninja Flask App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1 class="page-title">Welcome to the EC2Ninja Flask App!</h1>

    <form action="/add_instance" method="post" class="add-form">
        <label for="instance_id">Instance ID:</label>
        <input type="text" id="instance_id" name="instance_id" required>
        <button type="submit">Add Instance</button>
    </form>

    <hr>

    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

    <form action="/perform_action" method="post" class="perform-form">
        <label for="instance_select">Select Instance:</label>
        <select id="instance_select" name="instance_id" required>
            {% for instance_id in instance_ids %}
                <option value="{{ instance_id }}">{{ instance_id }}</option>
            {% endfor %}
        </select>

        <label for="action_select">Action:</label>
        <select id="action_select" name="action" required>
            <option value="start">Start Instance</option>
            <option value="stop">Stop Instance</option>
            <option value="info">Get Instance Info</option>
        </select>

        <button type="submit">Perform Action</button>
    </form>

    <form action="/clear_instances" method="post" class="clear-btn">
        <button type="submit">Clear Instances</button>
    </form>
</body>
</html>
