body {
    font-family: Arial, sans-serif;
    background-color: #e9e6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  

  h1 {
    color: #333;
    text-align: center;
  }
  

  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"],
  button[type="button"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: #0056b3;
  }
  

  .result {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .result p {
    margin: 0;
  }
  

  .instance-list {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    list-style-type: none;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .instance-list li {
    margin-bottom: 5px;
  }
  

  .clear-btn {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }
  
